@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200;300;400;500;600&family=Petit+Formal+Script&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

.page-header {
  position: relative;
  background-image: url("../images/pillz.jpg");
  background-size: cover;
  background-position: center top;
  color: #f5f0f0;
  height: 100vh;
  margin-bottom: 1.5rem;
}
.page-header_overlay {
  width: 100%;
  height: 100%;
  background: rgba(16, 24, 32, 0.4);
  position: absolute;
  top: 0;
  z-index: 100;
}
@media (max-width: 320px) {
  .page-header {
    height: 105vh;
    background-position: left center;
  }
}
.page-header_banner {
  height: 100%;
  position: relative;
  z-index: 1000;
}
.page-header_banner--item {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.page-header_banner--item-left {
  align-self: flex-end;
  position: relative;
  transform: translateY(55%);
  display: flex;
  flex-direction: column;
}
@media (max-width: 320px) {
  .page-header_banner--item-left {
    transform: translateY(30%);
  }
}
@media (min-width: 320.9px) and (max-width: 375px) {
  .page-header_banner--item-left {
    transform: translateY(20%);
  }
}
@media (min-width: 375.9px) and (max-width: 425px) {
  .page-header_banner--item-left {
    transform: translateY(25%);
  }
}
@media (min-width: 425.9px) and (max-width: 768px) {
  .page-header_banner--item-left {
    transform: translateY(30%);
  }
}
@media (min-width: 768.9px) and (max-width: 1024px) {
  .page-header_banner--item-left {
    transform: translateY(40%);
  }
}
.page-header_banner--title {
  display: inline-block;
  font-weight: 200;
  letter-spacing: 0.75px;
  transition: all 0.5s ease-in;
}
.page-header_banner--title:hover {
  color: #ff8300;
  letter-spacing: 1px;
  font-weight: 600;
}
.page-header_banner--heading {
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}
@media (max-width: 320px) {
  .page-header_banner--heading {
    font-size: 30px;
    font-weight: 800;
  }
}
@media (max-width: 320px) {
  .page-header_banner--heading-locatio {
    color: #ff8300;
  }
}
.page-header_banner--button {
  border: 1px #f5f0f0 solid;
  box-sizing: border-box;
  color: #f5f0f0;
  border-radius: 2px;
  padding: 7px 30px;
  font-weight: 400;
  font-size: 21px;
  margin-top: 7.5rem;
}
.page-header_banner--button:hover {
  border: 1px #ff8300 solid;
  color: #ff8300;
  font-weight: 600;
}
@media (max-width: 320px) {
  .page-header_banner--button {
    margin-top: 7.5rem;
    padding: 5px 20px;
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .page-header_banner--button {
    margin-top: 2.5rem;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .page-header_banner--button {
    margin-top: 3.5rem;
  }
}
@media (min-width: 768.9px) and (max-width: 1024px) {
  .page-header_banner--button {
    margin-top: 4.5rem;
  }
}
@media (min-width: 1024.9px) {
  .page-header_banner--button {
    margin-top: 4.5rem;
  }
}
.page-header_banner--blockquote {
  position: relative;
  transform: translateY(-15%);
}
@media (max-width: 768px) {
  .page-header_banner--blockquote {
    display: none;
  }
}
.page-header_banner--blockquote-text {
  font-style: italic;
}
.page-header_banner--blockquote-cite {
  font-weight: 600;
  color: #f5f0f0;
  margin-bottom: 1rem;
}

.bg-light {
  background-color: transparent !important;
}

.upper {
  justify-self: center;
}

.lower {
  justify-self: flex-end;
  position: relative;
  transform: translateY(350%);
}
@media (max-width: 320px) {
  .lower {
    transform: translateY(85%);
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .lower {
    transform: translateY(175%);
  }
}
@media (min-width: 375.9px) and (max-width: 425px) {
  .lower {
    transform: translateY(150%);
  }
}
@media (min-width: 425.9px) and (max-width: 768px) {
  .lower {
    transform: translateY(200%);
  }
}
@media (min-width: 768.9px) and (max-width: 1024px) {
  .lower {
    transform: translateY(200%);
  }
}
@media (min-width: 1024.9px) {
  .lower {
    transform: translateY(200%);
  }
}

a.banner-link--item {
  color: #f5f0f0;
  font-size: 1.5rem;
  padding-right: 2.5rem;
  transition: all 0.5s ease-in;
}
a.banner-link--item:visited {
  color: #f5f0f0;
}
a.banner-link--item:hover {
  color: #ff8300;
  transform: scale(1.1);
}
@media (max-width: 320px) {
  a.banner-link--item {
    padding-right: 1.5rem;
  }
}

.navbar-brand {
  font-family: "Kaushan Script", cursive;
  color: #ff8300 !important;
  opacity: 0.9;
  font-size: 2rem;
  transition: all 0.5s ease;
}
.navbar-brand:hover {
  color: #f5f0f0 !important;
  transform: scale(1.1);
}

a.nav-link {
  color: #f5f0f0 !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}
a.nav-link.active {
  color: #ff8300 !important;
}
a.nav-link:hover {
  color: #ff8300 !important;
  transform: scaleX(1.1);
}

li.nav-item {
  padding: 0 5px;
}

a.logo {
  font-family: "Kaushan Script", cursive;
  color: #ff8300 !important;
  text-decoration: none;
  opacity: 0.9;
  font-size: 3rem;
  transition: all 0.5s ease;
}
a.logo:hover {
  color: #101820ff !important;
  text-decoration: none;
  transform: scale(1.1);
}

.navbar {
  z-index: 1000;
}

.footer {
  margin-top: 1rem;
  height: 7vh;
  text-align: center;
  position: relative;
  background-color: rgba(255, 131, 0, 0.6);
}
@media (max-width: 320px) {
  .footer {
    height: 10vh;
  }
}
.footer-text {
  transform: translateY(100%);
  color: #f5f0f0;
  letter-spacing: 1px;
}
@media (max-width: 320px) {
  .footer-text {
    transform: translateY(20%);
  }
}

.aboutme {
  margin-bottom: 1.5rem;
}
.aboutme-heading {
  letter-spacing: 1px;
}
.aboutme-underliner {
  border-color: #ff8300;
  background-color: #ff8300;
  height: 2px;
  width: 25%;
  margin-right: auto;
}
.aboutme-summary {
  color: #101820ff;
  letter-spacing: 0.75px;
}
@media (max-width: 320px) {
  .aboutme-summary {
    font-weight: 300;
  }
}
.aboutme-links--item {
  font-size: 1.5rem;
  padding-right: 1rem;
  color: #101820ff;
  transition: all 0.5s ease-in;
}
.aboutme-links--item:hover {
  color: #ff8300;
  transform: scale(1.1);
}
.aboutme-links--item:visited {
  color: #ff8300;
}
.aboutme-button-works {
  border: 1px #ff8300 solid;
  color: #ff8300;
  border-radius: 2px;
  padding: 5px 20px;
  font-weight: 400;
}
.aboutme-button-works:hover {
  border: 1px #101820ff solid;
  color: #101820ff;
}
.aboutme-button-cv {
  border: 1px #101820ff solid;
  color: #101820ff;
  border-radius: 2px;
  padding: 5px 20px;
  font-weight: 400;
}
.aboutme-button-cv:hover {
  border: 1px #ff8300 solid;
  color: #ff8300;
}

hr {
  border: 2px #ff8300 solid;
}

@media (max-width: 320px) {
  .services {
    margin-top: 3rem;
  }
}
.services-heading {
  text-align: center;
}
.services-underliner {
  width: 10%;
  margin: auto;
  margin-bottom: 1rem;
}
.services-summary {
  margin: auto;
  text-align: center;
  width: 75%;
  margin-bottom: 1.5rem;
}
@media (max-width: 320px) {
  .services-summary {
    font-weight: 300;
  }
}
.services-card {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px;
  margin: auto;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
@media (max-width: 320px) {
  .services-card {
    width: 95vw;
    height: 27vh;
  }
}
.services-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.services-card-inner--title {
  z-index: 1000;
}
.services-card-inner--text {
  z-index: 1000;
}
.services-card-inner--btn {
  border: 1px #f5f0f0 solid;
  color: #f5f0f0;
  border-radius: 2px;
  padding: 5px 20px;
  font-weight: 400;
  z-index: 1000;
}
.services-card-inner--btn:hover {
  border: 1px #ff8300 solid;
  color: #ff8300;
}
.services-card-inner--front {
  height: 25vh;
  text-align: center;
  color: #f5f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-card-inner--front.one {
  background: url("../images/intelligence.jpg");
  background-size: cover;
  position: relative;
}
.services-card-inner--front.one--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(16, 24, 32, 0.8);
}
.services-card-inner--front.two {
  background-image: url("../images/rpaflow.jpeg");
  background-size: cover;
  position: relative;
}
.services-card-inner--front.two--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(16, 24, 32, 0.8);
}
.services-card-inner--front.three {
  background-image: url("../images/WebApps.jpg");
  background-size: cover;
  position: relative;
}
.services-card-inner--front.three--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(16, 24, 32, 0.8);
}
.services-card-inner--front.four {
  background-image: url("../images/brands.jpeg");
  background-size: cover;
  position: relative;
}
.services-card-inner--front.four--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(16, 24, 32, 0.8);
}

span.service-card_title--icon {
  color: #ff8300;
  font-size: 95%;
}

.portfolio {
  margin-top: 3rem;
}
@media (max-width: 320px) {
  .portfolio {
    margin-top: 1.5rem;
  }
}
.portfolio-heading {
  text-align: center;
}
.portfolio-underliner {
  width: 10%;
  margin: auto;
  margin-bottom: 3rem;
}
@media (max-width: 320px) {
  .portfolio-underliner {
    margin-bottom: 2rem;
  }
}
.portfolio-card {
  border-color: rgba(16, 24, 32, 0.6);
}
.portfolio-card-title {
  color: #101820ff;
  font-weight: 300;
}
.portfolio-card-image {
  height: 35vh;
  border: 1px solid #101820ff;
}
.portfolio-card-list > li {
  box-sizing: border-box;
  background-color: #ff8300;
  color: #f5f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  transition: all ease-in-out 0.5s;
}
.portfolio-card-link {
  border: 1px #ff8300 solid;
  color: #ff8300;
  border-radius: 2px;
  padding: 5px 20px;
  font-weight: 400;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.portfolio-card-link:hover {
  border: 1px #101820ff solid;
  color: #101820ff;
}

.workexprience {
  margin-top: 3rem;
}
@media (max-width: 320px) {
  .workexprience {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .workexprience {
    margin-top: 1.5rem;
  }
}
.workexprience-heading {
  text-align: center;
}
.workexprience-underliner {
  width: 10%;
  margin: auto;
  margin-bottom: 3rem;
}
@media (max-width: 320px) {
  .workexprience-underliner {
    margin-bottom: 2rem;
  }
}

.contact {
  margin-top: 3rem;
}
@media (max-width: 320px) {
  .contact {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .contact {
    margin-top: 1.5rem;
  }
}
.contact-heading {
  text-align: center;
}
.contact-underliner {
  width: 10%;
  margin: auto;
  margin-bottom: 3rem;
}
@media (max-width: 320px) {
  .contact-underliner {
    margin-bottom: 2rem;
  }
}
.contact-logo {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  color: #ff8300 !important;
  opacity: 0.9;
  font-size: 4rem;
  display: inline-block;
  transition: all 0.5s ease;
}
.contact-logo:hover {
  color: #101820ff !important;
}
@media (max-width: 320px) {
  .contact-logo {
    display: none;
  }
}
.contact-btn {
  border: 1px #ff8300 solid;
  color: #ff8300;
  border-radius: 2px;
  padding: 5px 20px;
  font-weight: 400;
}
.contact-btn:hover {
  border: 1px #101820ff solid;
  color: #101820ff;
}

/*# sourceMappingURL=styles.css.map */
