.footer {
  margin-top: 4rem;
  height: 7vh;
  text-align: center;
  position: relative;
  background-color: rgba($theme-color, 0.6);
  @media (max-width: 320px) {
    height: 10vh;
  }
  &-text {
    transform: translateY(100%);
    color: $base-contrast;
    letter-spacing: 1px;
    @media (max-width: 320px) {
      transform: translateY(35%);
    }
    @media (min-width: 321.9px) and (max-width: 375px) {
      transform: translateY(13%);
    }
    @media (min-width: 375.9px) and (max-width: 425px) {
      transform: translateY(15%);
    }
  }
}
