<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!--  CSS -->
    <link rel="stylesheet" href="./static/css/styles.css">
    <title>Meet Tony</title>
</head>

<body>
    <!-- Page Header-->
    <div class="page-header">
        <!-- page navigation-->
        <div class="page-header_nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand " href="#">philani</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./about.html">About Me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./portfolio.html">Portfolio</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- page banner-->
        <section class="page-header_banner" id="main-banner">
            <div class="container">
                <!-- slide one-->
                <div class="row page-header_banner--item" id="first-slide">
                    <div class="col-8 ">
                        <h3 class="page-header_banner--title">
                            Meet Philani
                        </h3>
                        <h1 class="page-header_banner--heading">
                            A Business Intelligence Analyst 
                        </h1>
                        <h2 class="page-header_banner--heading-locatio"> <i class="bi bi-geo"></i> Cape Town</h2>
                        <a href="#aboutme" class="btn page-header_banner--button">
                            About Philani
                        </a>
                    </div>
                    <div class="col-4">
                        <figure class="page-header_banner--blockquote text-end">
                            <blockquote class="blockquote">
                              <p class="page-header_banner--blockquote-text">"The goal is to turn data into information and information into insight"</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                               <cite class="page-header_banner--blockquote-cite" title="Source Title">Carly Fiorina.</cite> <br>
                               <cite class="page-header_banner--blockquote-cite" title="Source Title">Former Chief Executive Officer, Hewlet Packard</cite> 
                            </figcaption>
                          </figure>
                    </div>
                </div>
                
            </div>
        </section>
        <div class="page-header_overlay"></div>
    </div>
    <!-- About Me -->
    <div class="aboutme" id="aboutme">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4">
                    <h2 class="aboutme-heading"> About Me </h2>
                    <hr class="aboutme-underliner" />
                </div>
                <div class="col-8">
                    <p class="aboutme-summary">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo quis, rerum repellat neque, sint, dolor sapiente nemo dicta unde accusantium omnis? Temporibus error ea, assumenda mollitia tempora fugit est et unde earum praesentium illum.
                    </p>
                    <ul class="aboutme-links list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/philani-antony-1900121a5/" target="_blank" class="aboutme-links--item"> <i class="bi bi-linkedin"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/PhilaniAntony" target="_blank" class="aboutme-links--item"> <i class="bi bi-github"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a hre="https://repl.it/@PhilaniAntony" target="_blank"  class="aboutme-links--item"> <i class="bi bi-code-slash"></i> </a>
                        </li>

                    </ul>
                    <a href="#" class="btn aboutme-button-works  mr-4 mb-2">View Works </a>
                    <a href="#" class="btn aboutme-button-cv ml-4 mb-2">Download CV </a>

                </div>
            </div>
        </div>
    </div>
    <!-- Services -->
    <section class="services">
        <div class="container">
            <h2 class="services-heading">Skills</h2>
            <hr class="services-underliner" />
            <p class="services-summary">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae repellat dolores nisi fuga. In distinctio accusantium magnam provident eaque inventore!
            </p>

            <!-- services grid-->
            <div class="row">
                <div class="col-md-6 col-sm-12 mb-3">
                    <!--service card -->
                    <div class="services-card">
                        <div class="services-card-inner ">
                            <div class="services-card-inner--front one ">
                                <h3 class="services-card-inner--title mb-3">
                                    <span class="services-card_inner--title--icon">
                                        <i class="bi bi-graph-up"></i>
                                    </span>
                                    Business intelligence Analysis 
                                </h3>
                                <a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-b8cb68e8-ab37-4122-93d1-e077394d7268.pdf" target="_blank" class="btn services-card-inner--btn">Certificate</a>
                                <div class="services-card-inner--front one--overlay"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <!--service card -->
                    <div class="services-card">
                        <div class="services-card-inner">
                            <div class="services-card-inner--front two ">
                                <h3 class="services-card-inner--title mb-3">
                                    <span class="services-card-inner--title--icon">
                                        <i class="bi bi-clipboard-data"></i>
                                    </span>
                                    
                                    Robotic Process Automation 
                                </h3>
                                <a href="https://certificates.automationanywhere.com/dcbf43e3-d227-43c9-ac69-012e42728aa6" target="_blank" class="btn services-card-inner--btn">Certificate</a>
                                <div class="services-card-inner--front one--overlay"></div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <!--service card -->
                    <div class="services-card">
                        <div class="services-card-inner">
                            <div class="services-card-inner--front three">
                                <h3 class="services-card-inner--title mb-3">
                                    <span class="services-card-inner--title--icon">
                                        <i class="bi bi-hdd-rack"></i>
                                    </span>
                                    Web Apps Development
                                    
                                </h3>
                                <a class="btn services-card-inner--btn">Details</a>
                                <div class="services-card-inner--front one--overlay"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--service card -->
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="services-card">
                        <div class="services-card-inner">
                            <div class="services-card-inner--front four">
                                <h3 class="services-card-inner--title mb-3">
                                    <span class="services-card-inner--title--icon">
                                        <i class="bi bi-hdd-rack"></i>
                                    </span>
                                    Brand Development
                                    
                                </h3>
                                <button class="btn services-card-inner--btn">Details</button>
                                <div class="services-card-inner--front one--overlay"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Portfolio Section-->
    <section class="portfolio">
        <div class="container">
            <h2 class="portfolio-heading">
                Latest Works
            </h2>
            <hr class="portfolio-underliner" />
            <!--portfolio tags -->
            <div class="row">
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="card portfolio-card">
                        <img src="./static/images/intelligence.jpg" srcset="" alt="business intelligence analyst" class="img-fluid portfolio-card-image">
                        <div class="card-body">
                          <h4 class="portfolio-card-title">Card title</h4>
                          <ul class="list-inline portfolio-card-list">
                            <li class="list-inline-item">HTML</li>
                            <li class="list-inline-item">TailwindCSS</li>
                            <li class="list-inline-item">DJANGO</li>
                         </ul>
                         <a href="#!" class="btn  portfolio-card-link">Source Code</a>
                          <a href="#!" class="btn portfolio-card-link">Deployed Version</a>
                          
                        </div>
                    </div>
                </div>
                <!--col-->
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="card portfolio-card">
                        <img src="./static/images/brands.jpeg" srcset="" alt="brand strategist" class="img-fluid portfolio-card-image">
                        <div class="card-body">
                          <h4 class="card-title portfolio-card-title">Card title</h4>
                          <ul class="list-inline portfolio-card-list">
                            <li class="list-inline-item">HTML</li>
                            <li class="list-inline-item">TailwindCSS</li>
                            <li class="list-inline-item">DJANGO</li>
                         </ul>
                         <a href="#!" class="btn  portfolio-card-link">Source Code</a>
                          <a href="#!" class="btn portfolio-card-link">Deployed Version</a>
                         
                        </div>
                    </div>
                   
                </div>
                <!--col-->
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="card portfolio-card">
                        <img src="./static/images/rpaflow.jpeg" srcset="" alt="bot developer" class="img-fluid portfolio-card-image">
                        <div class="card-body">
                            <h4 class="portfolio-card-title">Card title</h4>
                            <ul class="list-inline portfolio-card-list">
                              <li class="list-inline-item">HTML</li>
                              <li class="list-inline-item">TailwindCSS</li>
                              <li class="list-inline-item">DJANGO</li>
                           </ul>
                           <a href="#!" class="btn  portfolio-card-link">Source Code</a>
                            <a href="#!" class="btn portfolio-card-link">Deployed Version</a>
                            
                        </div>
                    </div>
                    
                </div>
                <!--col-->
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="card portfolio-card">
                        <img src="./static/images/WebApps.jpg" srcset="" alt="web developer" class="img-fluid portfolio-card-image">
                        <div class="card-body">
                            <h4 class="portfolio-card-title">Card title</h4>
                            <ul class="list-inline portfolio-card-list">
                              <li class="list-inline-item">HTML</li>
                              <li class="list-inline-item">TailwindCSS</li>
                              <li class="list-inline-item">DJANGO</li>
                           </ul>
                           <a href="#!" class="btn  portfolio-card-link">Source Code</a>
                            <a href="#!" class="btn portfolio-card-link">Deployed Version</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Work Exprience-->
    <section class="workexprience">
        <div class="container">
            <h2 class="workexprience-heading">
                Work Exprience
            </h2>
            <hr class="workexprience-underliner" />
            

            <div class="row">
                <div class="col-md-4 col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">September 2020 - Current</p>
                            <h3 class="card-title">LC Studio</h3>
                            <h5 class="card-subtitle mb-2 text-muted">Intern RPA Developer</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">July 2019 - January 2020</p>
                            <h3 class="card-title">Creative Outlines</h3>
                            <h5 class="card-subtitle mb-2 text-muted">Freelancing</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">February 2019 - July 2019</p>
                            <h3 class="card-title">Levi T.Cuss Gallery</h3>
                            <h5 class="card-subtitle mb-2 text-muted">Lead Developer</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Contact -->
    <section class="contact">
        <div class="container">
            <h2 class="contact-heading">
                Contact Me
            </h2>
            <hr class="contact-underliner" />

            <div class="row align-items-center ">
                <!--Contact Info-->
                <div class="col-md-4 col-sm-12">
                    <h3 class="contact-info">Contact Info</h3>

                    <p class="contact-text"> <i class="bi bi-geo-alt-fill"></i> Cape Town, South Africa </p>
                    <p class="contact-text"> <i class="bi bi-envelope-fill"></i> philani@lifechoices.co.za</p>
                    <p class="contact-text"> <i class="bi bi-telephone-fill"></i> +27-685-553-241 </p>

                    <h3 class="contact-info">Platforms</h3>

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <p class="platforms-icons"> <i class="bi bi-linkedin"></i> </p>
                        </li>
                        <li class="list-inline-item">
                            <p class="platforms-icons"> <i class="bi bi-github"></i> </p>
                        </li>
                        <li class="list-inline-item">
                            <p class="platforms-icons"> <i class="bi bi-code-slash"></i> </p>
                        </li>
                        <li class="list-inline-item">
                            <p class="platforms-icons"> <i class="bi bi-twitter"></i> </p>
                        </li>

                    </ul>
                    
                </div>
                <!--Contact Form-->
                <div class="col-md-8 col-sm-12">
                    <h3 class="contact-info">Leave A Message</h3>
                    <form class="row g-3">
                        <!--Full Name-->
                        <div class="col-12">
                            <label for="fullname" class="form-label">Name</label>
                            <input name="fullname" type="text" class="form-control" id="fullname">
                        </div>
                        <!--Phone Number-->
                        <div class="col-md-6">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input name="phone" type="text" class="form-control" id="phone">
                        </div>
                        <!--Email-->
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <input name="email" type="email" class="form-control" id="email">
                        </div>
                        <!--Message-->
                        <div class="col-12">
                            <label for="message" class="form-label">Message</label>
                            <textarea name="message" class="form-control" id="message"> </textarea>
                        </div>
                        <!--submit-->
                        <div class="col-12">
                            <button type="submit" class="btn contact-btn"> Send Message</button>
                        </div>
                </div>

            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
           <p class="footer-text">
            Copyright&copy;All Rights Reserved 2021 <span class="logo">meetphilani</span>
           </p>
        </div>
    </footer>



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>
