<!-- slide two-->
<div class="row align-items-center" id="first-slide">
    <div class="col-6 ">
        <h3 class="page-header_banner--title">
            Meet Tony
        </h3>
        <h1 class="page-header_banner--heading">
            A Bot Developer<br>
            <span class="page-header_banner--heading-locatio"> <i class="bi bi-geo"></i> Cape Town</span>

        </h1>
        <a href="" class="btn btn-outline-warning">
            Hire Me
        </a>
    </div>
    <div class="col-6">
        <figure class="text-end">
            <blockquote class="blockquote">
              <p class="qoute-text">“The first rule of any technology used in a business is that automation applied to an efficient operation will magnify the efficiency. The second is that automation applied to an inefficient operation will magnify the inefficiency.”</p>
            </blockquote>
            <figcaption class="blockquote-footer">
               <cite title="Source Title">Bill Gates.</cite> <br>
               <cite title="Source Title">Former Chief Executive Officer,Microsoft.</cite> 
            </figcaption>
          </figure>
    </div>
</div>
<!-- slide three-->
<div class="row align-items-center" id="first-slide">
    <div class="col-6 ">
        <h3 class="page-header_banner--title">
            Meet Tony
        </h3>
        <h1 class="page-header_banner--heading">
            Aspiring Brand Strategist <br>
            <span class="page-header_banner--heading-locatio"> <i class="bi bi-geo"></i> Cape Town</span>

        </h1>
        <a href="" class="btn btn-outline-warning">
            Hire Me
        </a>
    </div>
    <div class="col-6">
        <figure class="text-end">
            <blockquote class="blockquote">
              <p class="qoute-text">“Branding is the art of aligning what you want people to think about your company with what people actually do think about your company. And vice-versa.”</p>
            </blockquote>
            <figcaption class="blockquote-footer">
               <cite title="Source Title">Jay Baer</cite> <br>
               <cite title="Source Title">Founder,Convience & Convert.</cite> 
            </figcaption>
          </figure>
    </div>
</div>