<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!--  CSS -->
    <link rel="stylesheet" href="./static/css/styles.css">
    <title>Meet Tony</title>
</head>

<body>
    <!-- Page Header-->
    <div class="page-header">
        <!-- page navigation-->
        <div class="page-header_nav">
            {% include 'navbar.html' %} 
        </div>
        <!-- page banner-->
        <section class="page-header_banner">
            <div class="container">
                <!-- slide one-->
                <div class="row align-items-center" id="first-slide">
                    <div class="col-6 ">
                        <h3 class="page-header_banner--title">
                            Meet Tony
                        </h3>
                        <h1 class="page-header_banner--heading">
                            A Bit Of My Work <br>
                            <span class="page-header_banner--heading-locatio"> <i class="bi bi-briefcase"></i> Let's take a tour.</span>
                          
                        </h1>
                        <a href="" class="btn btn-outline-warning">
                            Hire Me
                        </a>
                    </div>
                    <div class="col-6">
                        <figure class="text-end">
                            <blockquote class="blockquote">
                              <p class="qoute-text">
                                  “Your work is going to fill a large part of your life, and the only way to be truly satisfied 
                                  is to do what you believe is great work.And the only way to do great work is to love what you do.”</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                               <cite title="Source Title">Steven Jobs.</cite> <br>
                               <cite title="Source Title">Former Chief Executive Officer, Apple</cite> 
                            </figcaption>
                          </figure>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
    <!-- About Me -->
    <section class="aboutme">
        <div class="container">
            <div class="row align-items-center mb-3">
                <div class="col-4">
                    <h2 class="aboutme-heading"> My Portfolio </h2>
                    <hr class="aboutme-underliner" />
                </div>
                <div class="col-8">
                    <p class="aboutme-summary">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo quis, rerum repellat neque, sint, dolor sapiente nemo dicta unde accusantium omnis? Temporibus error ea, assumenda mollitia tempora fugit est et unde earum praesentium illum.
                    </p>
                    <a href="#" class="btn btn-warning">View Works </a>
                    <a href="#" class="btn btn-outline-warning">Download CV </a>
                </div>
            </div>
            <div class="row">
                <!--card one-->
                <div class="col-4">
                    <div class="portfolio-card">
                        <h3 class="portfolio-card--title">Lorem, ipsum dolor.</h3>
                        <hr class="portfolio-card--divider">
                        <p class="portfolio-card--text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod harum iusto ut voluptatum soluta?
                        </p>
                        <p class="portfolio-card--subtitle">Technologies</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">Lorem ipsum</li>
                            <li class="list-inline-item">Phasellus iaculis</li>
                            <li class="list-inline-item">Nulla volutpat</li>
                          </ul>
                    </div>
                </div>
                <!--card two-->
                <div class="col-4">
                    <div class="portfolio-card">
                        <h3 class="portfolio-card--title">Lorem, ipsum dolor.</h3>
                        <hr class="portfolio-card--divider">
                        <p class="portfolio-card--text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod harum iusto ut voluptatum soluta?
                        </p>
                        <p class="portfolio-card--subtitle">Technologies</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">Lorem ipsum</li>
                            <li class="list-inline-item">Phasellus iaculis</li>
                            <li class="list-inline-item">Nulla volutpat</li>
                          </ul>
                    </div>
                </div>
                <!--card three-->
                <div class="col-4">
                    <div class="portfolio-card">
                        <h3 class="portfolio-card--title">Lorem, ipsum dolor.</h3>
                        <hr class="portfolio-card--divider">
                        <p class="portfolio-card--text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quod harum iusto ut voluptatum soluta?
                        </p>
                        <p class="portfolio-card--subtitle">Technologies</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">Lorem ipsum</li>
                            <li class="list-inline-item">Phasellus iaculis</li>
                            <li class="list-inline-item">Nulla volutpat</li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="./static/images/intelligence.jpg" srcset="" alt="business intelligence analyst" class="img-fluid">
                </div>
                <div class="col-4">
                    <img src="./static/images/rpaflow.jpeg" srcset="" alt="bot developer" class="img-fluid">
                </div>
                <div class="col-4">
                    <img src="./static/images/WebApps.jpg" srcset="" alt="web developer" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!--Contact -->
    <section class="contact">
        <div class="container">
            <h2 class="contact-heading">
                Lets's Collaborate !
            </h2>
            <div class="row align-items-center ">
                <!--Contact Info-->
                <div class="col-4">
                    <h3 class="contact-info">Contact Info</h3>

                    <p class="contact-text"> <i class="bi bi-geo-alt-fill"></i> Cape Town, South Africa </p>
                    <p class="contact-text"> <i class="bi bi-envelope-fill"></i> tony@meettony.com</p>
                    <p class="contact-text"> <i class="bi bi-telephone-fill"></i> +27-685-553-241 </p>

                    <h3 class="contact-info">Platforms</h3>

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <p class="platforms-icons"> <i class="bi bi-linkedin"></i> </p>
                        </li>
                        <li class="list-inline-item">
                            <p class="platforms-icons"> <i class="bi bi-github"></i> </p>
                        </li>
                        <li class="list-inline-item">
                            <p class="platforms-icons"> <i class="bi bi-code-slash"></i> </p>
                        </li>
                        <li class="list-inline-item">
                            <p class="platforms-icons"> <i class="bi bi-twitter"></i> </p>

                        </li>
                    </ul>
                    <h3 class="contact-logo">philani</h3>
                </div>
                <!--Contact Form-->
                <div class="col-8">
                    <h3 class="contact-subheading">Leave a message</h3>
                    <form class="row g-3">
                        <!--Full Name-->
                        <div class="col-12">
                            <label for="fullname" class="form-label">Name</label>
                            <input name="fullname" type="text" class="form-control" id="fullname">
                        </div>
                        <!--Phone Number-->
                        <div class="col-md-6">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input name="phone" type="text" class="form-control" id="phone">
                        </div>
                        <!--Email-->
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <input name="email" type="email" class="form-control" id="email">
                        </div>
                        <!--Message-->
                        <div class="col-12">
                            <label for="message" class="form-label">Message</label>
                            <textarea name="message" class="form-control" id="message"> </textarea>
                        </div>
                        <!--submit-->
                        <div class="col-12">
                            <button type="submit" class="btn btn-warning btn-lg"> Send Message</button>
                        </div>
                </div>

            </div>
        </div>
    </section>
   
    <footer class="footer">
        <div class="container">
           <p class="footer-text">
            Copyright&copy;All Rights Reserved 2021 <span class="logo">meetphilani</span>
           </p>
        </div>
    </footer>



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>
