<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!--  CSS -->
    <link rel="stylesheet" href="./static/css/styles.css">
    <title>Meet Tony</title>
</head>

<body>
    <!-- Page Header-->
    <div class="page-header">
        <!-- page navigation-->
        <div class="page-header_nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand " href="#">tony</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="./index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./about.html">About Me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="./services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./portfolio.html">Portfolio</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- page banner-->
        <section class="page-header_banner">
            <div class="container">
                <div class="row align-items-center" id="first-slide">
                    <div class="col-6 ">
                        <h3 class="page-header_banner--title">
                            Meet Tony
                        </h3>
                        <h1 class="page-header_banner--heading">
                            What Tony Offers.  <br>
                            <span class="page-header_banner--heading-locatio"> <i class="bi bi-cash-stack"></i> Value l add to a company.</span>
                          
                        </h1>
                        <a href="" class="btn btn-outline-warning">
                            Hire Me
                        </a>
                    </div>
                    <div class="col-6">
                        <figure class="text-end">
                            <blockquote class="blockquote">
                              <p class="qoute-text">"No matter how brilliant your mind or strategy, if you’re playing a solo game, you’ll always lose out to a team."</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                               <cite title="Source Title">Reid Hoffman.</cite>
                         
                            </figcaption>
                          </figure>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- About Me -->
    <section class="aboutme">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4">
                    <h2 class="aboutme-heading"> Mission Statement</h2>
                    <hr class="aboutme-underliner" />
                </div>
                <div class="col-8">
                    <p class="aboutme-summary">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo quis, rerum repellat neque, sint, dolor sapiente nemo dicta unde accusantium omnis? Temporibus error ea, assumenda mollitia tempora fugit est et unde earum praesentium illum.
                    </p>
                    <a href="#" class="btn btn-warning">View Works </a>
                    <a href="#" class="btn btn-outline-warning">Download CV </a>

                </div>
            </div>
        </div>
    </section>
    <!-- Services -->
    <section class="services">
        <div class="container">
            <h2 class="services-heading">Services</h2>
            <hr class="services-underliner" />
            <!-- services grid-->
            <div class="row">
                <div class="col-6">
                    <!--service card -->
                    <div class="service-card">
                        <i class="bi bi-graph-up"></i>
                        <h3 class="service-card_title">
                            Business intelligence Consultation
                        </h3>
                        <p class="service-card_text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea recusandae velit blanditiis rerum cumque ipsa inventore ad saepe alias ducimus!
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <!--service card -->
                    <div class="service-card">
                        <i class="bi bi-clipboard-data"></i>
                        <h3 class="service-card_title">
                            Brand Strategy
                        </h3>
                        <p class="service-card_text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea recusandae velit blanditiis rerum cumque ipsa inventore ad saepe alias ducimus!
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <!--service card -->
                    <div class="service-card">
                        <i class="bi bi-hdd-rack"></i>
                        <h3 class="service-card_title">
                            Robotic Process Automation
                        </h3>
                        <p class="service-card_text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea recusandae velit blanditiis rerum cumque ipsa inventore ad saepe alias ducimus!
                        </p>
                    </div>
                </div>
                <!--service card -->
                <div class="col-6">
                    <div class="service-card">
                        <i class="bi bi-globe"></i>
                        <h3 class="service-card_title">
                            Web Apps Development
                        </h3>
                        <p class="service-card_text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea recusandae velit blanditiis rerum cumque ipsa inventore ad saepe alias ducimus!
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Portfolio Section-->
    <section class="porfolio">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="./static/images/intelligence.jpg" srcset="" alt="business intelligence analyst" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="./static/images/brands.jpeg" srcset="" alt="brand strategist" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="./static/images/rpaflow.jpeg" srcset="" alt="bot developer" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="./static/images/WebApps.jpg" srcset="" alt="web developer" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="container">
            <h2 class="contact-heading">
                Let's Collaborate !
            </h2>
            <hr class="contact-underliner" />

            <div class="row align-items-center ">
                <!--Contact Info-->
                <div class="col-4">
                    <h3 class="contact-info">Contact Info</h3>

                    <p class="contact-text"> <i class="bi bi-geo-alt-fill"></i> Cape Town, South Africa </p>
                    <p class="contact-text"> <i class="bi bi-envelope-fill"></i> tony@meettony.com</p>
                    <p class="contact-text"> <i class="bi bi-telephone-fill"></i> +27-685-553-241 </p>

                    <h3 class="contact-info">Platforms</h3>

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <p class="platforms-icons"> <i class="bi bi-linkedin"></i> </p>
                        </li>
                        <li class="list-inline-item">
                            <p class="platforms-icons"> <i class="bi bi-github"></i> </p>
                        </li>
                        <li class="list-inline-item">
                            <p class="platforms-icons"> <i class="bi bi-code-slash"></i> </p>
                        </li>
                        <li class="list-inline-item">
                            <p class="platforms-icons"> <i class="bi bi-twitter"></i> </p>
                        </li>

                    </ul>
                </div>
                <!--Contact Form-->
                <div class="col-8">
                    <form class="row g-3">
                        <!--Full Name-->
                        <div class="col-12">
                            <label for="fullname" class="form-label">Name</label>
                            <input name="fullname" type="text" class="form-control" id="fullname">
                        </div>
                        <!--Phone Number-->
                        <div class="col-md-6">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input name="phone" type="text" class="form-control" id="phone">
                        </div>
                        <!--Email-->
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <input name="email" type="email" class="form-control" id="email">
                        </div>
                        <!--Message-->
                        <div class="col-12">
                            <label for="message" class="form-label">Message</label>
                            <textarea name="message" class="form-control" id="message"> </textarea>
                        </div>
                        <!--submit-->
                        <div class="col-12">
                            <button type="submit" class="btn btn-warning btn-lg"> Send Message</button>
                        </div>
                </div>

            </div>
        </div>
    </section>
    <section class="branding">
        <div class="container">
            <h3 class="branding-logo">tony.</h3>
            <p class="branding-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores soluta unde 
                consequatur officiis,labore esse suscipit quae numquam quos cum assumenda nostrum 
                at ea explicabo?
            </p>
            <ul class="list-inline branding-platforms--list">
                <li class="list-inline-item">
                    <p class="branding-platforms--list_icons"> <i class="bi bi-linkedin"></i> </p>
                </li>
                <li class="list-inline-item">
                    <p class="branding-platforms--list_icons"> <i class="bi bi-github"></i> </p>
                </li>
                <li class="list-inline-item">
                    <p class="branding-platforms--list_icons"> <i class="bi bi-code-slash"></i> </p>
                </li>
                <li class="list-inline-item">
                    <p class="branding-platforms--list_icons"> <i class="bi bi-twitter"></i> </p>
                </li>

            </ul>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            Copyright &copy; 2021 <span class="logo">meettony</span>
        </div>
    </footer>



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>
