//aboutme
.aboutme {
  margin: 3.5rem 0;
  &-heading {
    letter-spacing: 1px;
  }
  &-underliner {
    border-color: $theme-color;
    background-color: $theme-color;
    height: 2px;
    width: 25%;
    margin-right: auto;
  }
  &-summary {
    color: $base-color;
    letter-spacing: 0.75px;
    @media (max-width: 320px) {
      font-weight: 300;
      //color: rgab($base-color, 0.8) !important;
    }
  }
  &-links--item {
    font-size: 1.5rem;
    padding-right: 1rem;
    color: $base-color;
    transition: all 0.5s ease-in;

    &:hover {
      color: $theme-color;
      transform: scale(1.1);
    }
    &:visited {
      color: $theme-color;
    }
  }
  &-button {
    &-works {
      @include worksbutton($theme-color, $base-color);
    }
    &-cv {
      @include worksbutton($base-color, $theme-color);
    }
  }
}
hr {
  border: 2px $theme-color solid;
}

//services
.services {
  @media (max-width: 320px) {
    margin-top: 3rem;
  }
  &-heading {
    text-align: center;
  }
  &-underliner {
    width: 10%;
    margin: auto;
    margin-bottom: 3.5rem;
  }
  &-summary {
    margin: auto;
    text-align: center;
    width: 75%;
    margin-bottom: 1.5rem;
    @media (max-width: 320px) {
      font-weight: 300;
    }
  }
  &-card {
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px;
    margin: auto;
    border: 1px solid #f1f1f1;
    perspective: 1000px;

    @media (max-width: 320px) {
      width: 95vw;
      height: 27vh;
    }

    &-inner {
      position: relative;
      width: 100%;
      height: 100%;
      &--title {
        z-index: 1000;
      }
      &--text {
        z-index: 1000;
      }
      &--btn {
        @include worksbutton($base-contrast, $theme-color);
        z-index: 1000;
      }

      &--front {
        height: 25vh;
        text-align: center;
        color: $base-contrast;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &.one {
          background: url("../images/intelligence.jpg");
          background-size: cover;
          position: relative;
          &--overlay {
            @include skill_card-overlay;
          }
        }
        &.two {
          background-image: url("../images/rpaflow.jpeg");
          background-size: cover;
          position: relative;
          &--overlay {
            @include skill_card-overlay;
          }
        }
        &.three {
          background-image: url("../images/WebApps.jpg");
          background-size: cover;
          position: relative;
          &--overlay {
            @include skill_card-overlay;
          }
        }
        &.four {
          background-image: url("../images/brands.jpeg");
          background-size: cover;
          position: relative;
          &--overlay {
            @include skill_card-overlay;
          }
        }
      }
    }
  }
}
span.service-card_title--icon {
  color: $theme-color;
  font-size: 95%;
}
.portfolio {
  margin-top: 3rem;
  @media (max-width: 320px) {
    margin-top: 1.5rem;
  }
  &-heading {
    text-align: center;
  }
  &-underliner {
    width: 10%;
    margin: auto;
    margin-bottom: 3rem;
    @media (max-width: 320px) {
      margin-bottom: 2rem;
    }
  }
  &-card {
    background-color: transparent;
    color: $base-contrast;
    box-sizing: border-box;
    padding: 5px;
    margin: auto;
    border: 1px solid rgba($theme-color, 0.1);
    position: relative;
    &--overlay {
      @include skill_card-overlay;
      z-index: 0;
    }

    &-inner {
      &--front {
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &-list {
      //margin-top: -0.5rem;
      & > li {
        box-sizing: border-box;
        background-color: $theme-color;
        color: $base-contrast;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 12px;
        transition: all ease-in-out 0.5s;
      }
    }
    &-link {
      @include worksbutton($theme-color, $base-contrast);
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
}
.workexprience {
  @media (max-width: 320px) {
    text-align: center;
  }
  margin-top: 3rem;
  @media (max-width: 320px) {
    margin-top: 1.5rem;
  }
  &-heading {
    text-align: center;
  }
  &-underliner {
    width: 10%;
    margin: auto;
    margin-bottom: 3rem;
    @media (max-width: 320px) {
      margin-bottom: 2rem;
    }
  }
}
.contact {
  @media (max-width: 320px) {
    text-align: center;
  }
  margin-top: 3rem;
  @media (max-width: 320px) {
    margin-top: 1.5rem;
  }
  &-heading {
    text-align: center;
  }
  &-underliner {
    width: 10%;
    margin: auto;
    margin-bottom: 3rem;
    @media (max-width: 320px) {
      margin-bottom: 2rem;
    }
  }
  &-logo {
    text-align: center;
    font-family: $font-kaushan;
    color: $theme-color !important;
    opacity: 0.9;
    font-size: 4rem;
    display: inline-block;
    transition: all 0.5s ease;
    &:hover {
      color: $base-color !important;
    }
    @media (max-width: 320px) {
      display: none;
    }
  }
  &-btn {
    @include worksbutton($theme-color, $base-color);
  }
}
.portfolio-card-inner--front.one {
  //background: url("../images/thelook.png");
  background-size: cover;
  position: relative;
}
h3.portfolio-card-inner--title.mb-3 {
  color: $base-contrast;
  z-index: 1000;
  padding: 1.5rem 0 0 0;
}
p.portfolio-card-inner--text {
  text-align: center;
  z-index: 1000;
  padding: 0 1rem;
}
hr.portfolio-card-divider {
  width: 10%;
  border: 2px $base-contrast solid;
  z-index: 1000;
  margin-top: -0.75rem;
}
ul.list-inline.portfolio-card-list {
  z-index: 1000;
}
div.buttons {
  z-index: 1000;
}
img.img-fluid.recommendation-image {
  height: 230px;
  border-radius: 50%;
  border: 2px solid $theme-color;
  transform: translateX(20%);
  /* margin: auto; */
  /* text-align: center; */
}
.recommendation-info {
  text-align: center;
  margin-top: 1rem;
}
ul.aboutme-links.list-inline {
  margin: 2rem 0;
}
